################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Z9i/.vs/Z9i/v16/Browse.VC.opendb
/Z9i/.vs/Z9i/v16/Browse.VC.db-wal
/Z9i/.vs/Z9i/v16/Browse.VC.db-shm
/Z9i/.vs/Z9i/v16/Browse.VC.db
